apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: telemedicine
  labels:
    app: patient-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: patient-service
